:root {
    --font-sans-serif: "sofia-pro", sans-serif;
    --black: #070721;
    --grey: #c3c3ca;
    --light-grey: #f2f2f4;
    --white: #ffffff;
    --acqua: #62ffbc;
    --purple: #8a2ad1;
    --dark-navy: #202038;
    --blacklight: #14142d;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: var(--font-sans-serif);
    line-height: 1.8;
}

img {
    max-width: 100%;
} 

.component__name {
    background-color: var(--black);
    color: var(--white);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 0;
    margin-bottom: 0;
}

/*Typography Code Elements*/

.component__body-content {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .02em;
    margin-left: 1em;
}

/*Image & Border Formatting*/

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--grey);
    overflow-x: auto;
}

.component__code {
    border: 1px solid var(--grey);
}

/*Heading Formatting*/

.component__h1-heading {
    background-color: var(--grey);
    color: var(--white);
    font-weight: 600;
    font-size: 3rem;
    margin-left: 0; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;  
    line-height: 1.3;
    margin-bottom: 0;
} 

.component__h1-heading--hero {
    background-color: none;
    color: var(--white);
    font-weight: 600;
    font-size: 3rem;
    margin-left: 0; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;  
    line-height: 1.3;
    margin-bottom: 0;
} 

.component__h2-heading {
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 1.3em; 
    margin-left: 0; 
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
} 

.component__h3-heading {
    font-weight: 600;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
} 

.component__img--headings img {
    display: block; 
}

/*Button Styling*/

.component__button {
    color: var(--black);   
    text-align: center;
    display: inline-block; 
    font-size: 1em;
    margin-left: 30px; 
    margin-right: 30px;
    margin-top: 30px; 
    margin-bottom: 30px;  
}

.component__button--light {
    background-color: var(--light-grey);
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    padding: 15px 20px;
}

.component__button--light:hover {
    background: var(--dark-navy);
    color: var(--white);
}

.component__button--dark {
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    font-weight: 600;
    padding: 10px 15px;
}

/*Iconography Styling*/

.component__img--icons {
    display: inline-block;
    margin-top: 0;
    padding-top: 0; 
}

.component__code__sociallist {
    list-style-type: none;
    margin:0; 
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    background-color: var(--black);
}

i.fab {
    color: var(--white);
    font-size: 1.33em; 
    padding-bottom: 10px; 
}

.fab__icon:hover {
    background: var(--black);
}

i.fab:hover {
    color: var(--purple);
}

/*Email Form Styling*/

.form {
    background-color: var(--black);
}

input[type=email] {
    width: 29.5%;
    display: inline-block; 
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 15px;
    background-color: var(--light-grey);
    font-family: var(--font-sans-serif);
    font-size: 1rem; 
    border: none; 
    overflow: hidden;
}

.form__email--submit {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--font-sans-serif);
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 20px;
    padding-right: 20px; 
    font-weight: 600;
    font-size: 1em;
    border: none; 
    margin-left:-110px;
}

.form__email--address {
    margin-right: 0;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 30px;  
}

.checkbox__copy {
    display: inline-block; 
    font-family: var(--font-sans-serif);
    font-size: .8rem; 
    background-color: var(--black);
    color: var(--white); 
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px; 
    padding-bottom: 6px;
    margin-top: 0;   
}

.checkbox__copy a {
    text-decoration: none;
    color: var(--white);
    border-bottom: 1.5px solid var(--white);
    border-spacing: 10px;
}

.component__checkbox {
    display: inline-block;
    border-style: none;
    background-color: var(--black);
    margin-top: 0;
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*Article Card Styling*/
 
.article__card {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    overflow-x: auto;
    max-width: initial; 
}

.article-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.article-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.article-3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-bottom: 0; 
}
.article-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.article-5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.article-6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.component__article__card--header {
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-size: 1.4rem;
    padding-left: 30px;
}

.component__article__card--content1 {
    font-size: 1.1rem;
    padding-left: 30px;
    padding-right: 10px; 
    padding-bottom: 5px;   
}

.component__article__card--content2 {
    font-size: 1.1rem;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 5px;    
}

.component__article__card--content3 {
    font-size: 1.1rem;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 35px;
}

.component__article__card--content4 {
    font-size: 1.1rem;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 65px;    
}

.component__article__card--content5 {
    font-size: 1.1rem;
    padding-left: 30px;
    padding-right: 10px; 
    padding-bottom: 0px;   
}

.component__article__card--content6 {
    font-size: 1.1rem;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 63px;    
}

.component__article--img1 {
    margin-left: 20px; 
    margin-bottom: 0; 
}

.component__article--img4 {
    margin-bottom: 0;
    margin-top: 15px;  
}

/*Header Navigation Styling*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 10%; 
    font-family: var(--font-sans-serif), sans-serif; 
    font-weight: 500;
    font-size: 1em;
    background: var(--black);
    position: absolute; 
    width: 100%;
    height: 75px;  
}

.component__navbar--img {
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;  
}

.component__navbar--list li {
    list-style: none;
    display: inline-block; 
    padding: 0px 15px;
    margin-left: 0; 
    font-weight: 600;
}

.component__navbar--list a {
    text-decoration: none;
    color: var(--white);
}

.component__navbar--list a:hover {
    border-bottom: 2px solid var(--white);
}

.component__navbar--phone {
    color: var(--white);
    padding-right: 0; 
    margin-right: 0;
}

.component__navbar--email {
    text-decoration: none;
    color: var(--white);
    margin-right: 0;
    margin-left: 0; 
    padding-left: 0; 
}

/*Hero Image Styling*/

.component__hero--image {
    width: 100%;
    position: static; 
    top: 0;
    left: 0;
    margin: 0;
}

.component__h1-heading--hero {
    display: inline-block; 
    position: absolute;
    padding-right: 40rem;
    padding-left: 15rem;  
    left: 10px; 
    top: 250px;  
    z-index: 10;   
}

.component__hero--button1 {  
    margin-left: 2em;
    display: inline-block; 
    position: absolute;
    margin-left: 15rem; 
    left: 10px; 
    top: 500px;  
    z-index: 10;   
}

.component__hero--button2 {  
    margin-left: 2em;
    display: inline-block;
    position: absolute;
    margin-left: 15rem; 
    left: 200px; 
    top: 500px;  
    z-index: 10;   
}

/*Homepage Section 1 Content*/

.component__section1 {
    height: 
}

/*Footer Navigation Styling*/

footer {
    background: var(--black);
    overflow-x: auto;
    max-width: initial; 
    font-size: .9em;
}

.nav__footer {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: 1, 250px;
    grid-gap: 30px;
}

.component__footer--header {
    color: var(--purple);
    font-weight: 600;
    font-size: 1.1em; 
}

.component__footer--list {
    color: var(--white);
    list-style: none;
    padding: 0;
    margin: 0; 
}

.component__footer__list--label {
    color: var(--white);
}

.component__footer--list a {
    text-decoration: none;
    color: var(--white);
}

.component__footer--list a:hover {
    color: var(--purple);

}

.component__footer__legal {
    color: var(--white);
}

.component__footer__legal a{
    text-decoration: none;
    color: var(--white);
}

.component__footer__legal a:hover{
    color: var(--purple);
}

.footer__contact--details {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 40px;
}

.footer__contact--address {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer__contact--info {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer__contact--social {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer__social a {
    display: inline;
    padding-left: 10px; 
}

.footer__copyright {
    display: inline;
    font-size: .9em;
    padding-left: 40px; 
}

.footer__createdby {
    display: inline;
    font-size: .9em;
    padding-left: 30px;  
}

