:root {
    --font-sans-serif: "sofia", sans-serif;
    --black: #070721;
    --grey: #c3c3ca;
    --light-grey: #f2f2f4;
    --white: #ffffff;
    --acqua: #62ffbc;
    --purple: #8a2ad1;
    --dark-navy: #202038;
    --blacklight: #14142d;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: var(--font-sans-serif);
    line-height: 2; 
}

img {
    display: block; 
}

.component__body-content {
    font-size: 1.7em;
    font-weight: 400;
}