<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Loom Website Components</title>
</head>
<body>
    <h1>Placeholder for Copy</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">Body Copy</h3>
        <img
        srcset="img/homepage__section2--content.png 2x" 
        src="img/homepage__section2--content.png" alt="Loom website body copy">
        <div class="component__code">
        <p>Nowadays, digital marketing is about the whole user journey. It’s about how digital channels such as PPC & biddable media, SEO, social media, content marketing, and data & analytics come together to form a unified digital strategy, joining the dots across multiple touchpoints.</p>

        <p>And that’s what we’re all about. Making sure all your channels work together in a joined-up way so that your digital marketing achieves more for you.</p>
    </div>
</article>
    
</body>
</html>