<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/tta0cof.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="normalize" href="css/normalize.css">
    <title>Loom Website Components</title>
</head>
<body>
    <h1>Website Components for Loom Digital</h1>

    <h2>Typography Defaults</h2>

    <article class="component">
        <h3 class="component__name">Body Copy</h3>
        <div class="component__img">
        <img 
        srcset="img/homepage__section2--content.png 3x" 
        src="img/homepage__section2--content.png" alt="Loom website body copy">
        </div>
        <div class="component__code">
        <p class="component__body-content">Nowadays, digital marketing is about the whole user journey. It’s about how digital channels such as PPC & biddable media, SEO, social media, content marketing, and data & analytics come together to form a unified digital strategy, joining the dots across multiple touchpoints.</p>

        <p class="component__body-content">And that’s what we’re all about. Making sure all your channels work together in a joined-up way so that your digital marketing achieves more for you.</p>
    </div>
</article>

<article class="component">
        <h3 class="component__name">Headings (h1, h2, h3...)</h3>
        <div class="component__img">
        <img 
        srcset="img/h1.png 2x" 
        src="img/h1.png" alt="Loom website headline type one">
        <img 
        srcset="img/h2.png 2x" 
        src="img/h2.png" alt="Loom website headline type two">
        <img 
        srcset="img/h3.png 2x" 
        src="img/h3.png" alt="Loom website headline type three">
        </div>
        <div class="component__code">
        <p class="component__h1-heading">Unlock the true potential of your digital marketing</p>
        <p class="component__h2-heading">Integrated Digital Marketing</p>
        <p class="component__h3-heading">Digital Marketing Strategy</p>
    </div>
</article>

<article class="component">
    <h3 class="component__name">Buttons</h3>
    <div class="component__img">
        <img
        srcset="img/homepage__section1--button.png 3x"
        src="img/homepage__section1--button.png" alt="Loom website button light">
        <img
        srcset="img/homepage__section3--articles--button.png 3x"
        src="img/homepage__section3--articles--button.png" alt="Loom website button dark">
    </div>
    <div class="component__code">
        <span class="component__code--button1">
            <div class="component__button">
            <a class="component__button--light" href="#!">Meet the team</a>
            </div>
        </span>
        <span class="component__code--button2">
            <div class="component__button">
            <a class="component__button--dark" href="#!">More about Strategy</a>
            </div>
        </span>
    </div>
</article>

<article class="component">
    <h3 class="component__name">Newsletter Email Form</h3>
    <div class="component__img">
        <img
        srcset="img/homepage__section7--form.png 3x"
        src="img/homepage__section7--form.png" alt="Loom website email submission form">
    </div>
    <div class="component__code">
        <div class="form">
        <form class="form__email" action="#!">
            <input class="form__email--address" type="email" id="email" name="emailaddress" placeholder="Enter your email address">
            <button class="form__email--submit">Sign up</button>
        </div>
        </form>
        <div class="component__checkbox">
            <input type="checkbox" name="privacy" value="privacy policy">
        </div>
        <p class="checkbox__copy">Accept our <a href="#!">Privacy Policy</a></p>
    </div>
</article>

<article class="component">
    <h3 class="component__name">Article Cards</h3>
    <div class="component__img">
        <img 
        srcset="img/homepage__section3--articles1.png 3x"
        src="img/homepage__section3--articles1.png">
        <img 
        srcset="img/homepage__section3--articles2.png 3x"
        src="img/homepage__section3--articles2.png">
    </div>
    <div class="component__code">
        <div class="article__card">
            <div class="article-1">
                <img 
                srcset="img/iconography/article__card--icon1.png 2.5x"
                class="component__article--img1" src="img/iconography/article__card--icon1.png">
                <h3 class="component__article__card--header">Digital Marketing Strategy</h3>
                <p class="component__article__card--content1">Digital marketing has the power to transform your business. At Loom, we've spend the last 10 years development and refining our digital marketing strategy and service.</p>
                    <div class="component__button">
                    <a class="component__button--dark" href="#!">More about Strategy</a>
                    </div>
            </div>
            <div class="article-2">
                <img 
                srcset="img/iconography/article__card--icon2.png 2.5x"
                class="component__article--img2" src="img/iconography/article__card--icon2.png">
                <h3 class="component__article__card--header">SEO</h3>
                <p class="component__article__card--content2">Grow your website's traffic, increase sales & leads, and improve your user's online experieince with SEO from an agency with over a decade of experience.</p>
                <div class="component__button">
                <a class="component__button--dark" href="#!">More about SEO</a>
                </div>
            </div>
            <div class="article-3">
                <img 
                srcset="img/iconography/article__card--icon3.png 2.5x"
                class="component__article--img3" src="img/iconography/article__card--icon3.png">
                <h3 class="component__article__card--header">PPC & Biddable Media</h3>
                <p class="component__article__card--content3">Sophisticated and targeted campaigns from a Google Premier Partner that delivers powerful results for your business.</p>
                <div class="component__button">
                <a class="component__button--dark" href="#!">More about PPC & Biddable</a>
                </div>
            </div>
            <div class="article-4">
                <img 
                srcset="img/iconography/article__card--icon4.png 2.5x"
                class="component__article--img4" src="img/iconography/article__card--icon4.png">
                <h3 class="component__article__card--header">Content Marketing</h3>
                <p class="component__article__card--content4">Drive engagement, meet your users’ needs and connect with your audience with content marketing.</p>
                <div class="component__button">
                <a class="component__button--dark" href="#!">More about Content Marketing</a>
                </div>
            </div>
            <div class="article-5">
                <img 
                srcset="img/iconography/article__card--icon5.png 2.5x"
                class="component__article--img5" src="img/iconography/article__card--icon5.png">
                <h3 class="component__article__card--header">Social Media</h3>
                <p class="component__article__card--content5">Grow brand awareness, engage with existing & potential customers and build trust with a social media strategy from Loom, paid and organic social experts.</p>
                <div class="component__button">
                <a class="component__button--dark" href="#!">More about Social Media</a>
                </div>
            </div>
            <div class="article-6">
                <img 
                srcset="img/iconography/article__card--icon6.png 2.5x"
                class="component__article--img6" src="img/iconography/article__card--icon6.png">
                <h3 class="component__article__card--header">Data & Analytics</h3>
                <p class="component__article__card--content6">Data-driven digital strategy that uncovers new opportunities for your business.</p>
                <div class="component__button">
                <a class="component__button--dark" href="#!">More about Data & Analytics</a>
                </div>
            </div>
        </div>
    </div>
</article>

</body>
</html>